@import "../../utils/colors.css";

.contactFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light1);
  background-color: var(--dark1);
  border-radius: 50px;
  width: 70%;
  margin: 2rem;
  z-index: 1;
}

.contactFormDiv h3 {
  margin: 1rem;
}

.contactFormDiv h6 a {
  color: var(--light1);
}
.contactFormDiv h6 a:hover {
  color: var(--dark3);
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin: 2rem;
  padding: 2rem;
}

.feedbackText {
  text-align: end;
  font-size: 0.8rem;
  margin: 0;
  color: var(--warning);
}

.messageSent {
  text-align: center;
  color: var(--accent);
  font-size: 1.5rem;
}
.messageProblem {
  text-align: center;
  color: var(--warning);
  font-size: 1.5rem;
}

.custom-btn {
  align-self: center;
  background-color: var(--accent);
  color: var(--dark3);
  font-size: 1.5rem;
  margin: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  border-radius: 30px;
}
.custom-btn:hover {
  background-color: var(--dark3);
  box-shadow: 0 0 20px var(--accent);
  color: var(--light1);
}
