* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-color: #212529; /*dark3*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
