:root {
  --accent: #3c6e71;
  --dark3: #212529;
  --dark2: #343a40;
  --dark1: #495057;
  --med3: #6c757d;
  --med2: #adb5bd;
  --med1: #ced4da;
  --light3: #dee2e6;
  --light2: #e9ecef;
  --light1: #f8f9fa;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(var(--dark3) 0%, var(--med1) 100%);
  min-height: fit-content;
  width: 100vw;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#tsparticles {
  z-index: -1 !important;
  position: absolute;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.root {
  height: fit-content;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
  .root {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
}
