@import "../../utils/colors.css";

.aboutContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: var(--light1);
  margin: 8%;
}

.avatar {
  z-index: 1;
  align-self: center;
  width: 25%;
  height: auto;
  /* margin: 1rem; */
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.skillsContainer {
  color: var(--accent);
  margin: 8%;
  margin-top: 20%;
}
.aboutContainer h3,
.skillsContainer h3 {
  font-size: 3rem;
}

.skillsContainer h3 {
  font-family: "Petit Formal Script";
  text-align: center;
}

.aboutContainer p,
.skillsContainer p {
  font-size: 1.5rem;
  margin-top: 3%;
}

.iconsDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.icon {
  color: var(--accent);
  font-size: 3rem;
  margin: 3rem;
}

@media only screen and (max-width: 600px) {
  .welcome {
    flex-direction: column;
  }
  /* .aboutContainer h3,
  .skillsContainer h3 {
    font-size: 3rem;
  }
  .aboutContainer p,
  .skillsContainer p {
    font-size: 1rem;
    margin-top: 3%;
  } */
}
