@import "../../utils/colors.css";

.resumeDownload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
}
.resumeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark1);
  padding: 2rem;
  border-radius: 50px;
  /* box-shadow: 0 0 10px var(--light1); */
}
.resumeTitle {
  color: var(--accent);
  font-family: "Petit Formal Script";
  font-size: 4rem;
  text-align: center;
}
.resumeImg {
  max-height: 50vh;
}
.downloadBtn {
  align-self: center;
  background-color: var(--accent);
  color: var(--light1);
  font-size: 1.5rem;
  margin: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  border-radius: 30px;
}

.downloadBtn:hover {
  background-color: var(--med3);
  box-shadow: 0 0 20px var(--accent);
  color: var(--accent);
}

@media only screen and (max-width: 650px) {
  .resumeTitle {
    font-size: 3rem;
  }
  .downloadBtn {
    font-size: 1rem;
  }
}
