:root {
  --accent: #3c6e71;
  --dark3: #212529;
  --dark2: #343a40;
  --dark1: #495057;
  --med3: #6c757d;
  --med2: #adb5bd;
  --med1: #ced4da;
  --light3: #dee2e6;
  --light2: #e9ecef;
  --light1: #f8f9fa;
}

.footer {
  display: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}
.footerIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.footer-icon {
  color: var(--dark3);
  font-size: 3rem;
  /* margin-bottom: 5vh; */
  margin: 3rem;
}

.footer-icon:hover {
  color: var(--accent);
}
