@import "../../utils/colors.css";

.footer {
  display: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  margin-top: 10vh;
}
.footerIconDiv {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: fit-content;
}
.iconAnchor {
  display: flex;
}

.footer-icon {
  color: var(--dark3);
  font-size: 3rem;
  margin: 3rem;
  width: 100%;
}

.footer-icon:hover {
  color: var(--accent);
}
