@import "../../utils/colors.css";

.headerNav {
  padding: 1rem;
  margin: 0 6rem 0 6rem;
}

.nameText {
  text-align: center;
  color: var(--light1);
  font-family: "Petit Formal Script";
  text-shadow: 5px 0 var(--accent);
  font-size: 4rem;
  width: 100%;
}

.navBar {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.navBtn {
  border-radius: 30px;
  border: solid 2px var(--accent);
  box-shadow: 0 0 10px var(--accent);
  width: 120%;
  background: var(--dark3);
  color: var(--light1);
  font-size: 3vw;
}

.navBtn:hover,
.navBtn:focus,
.navBtn:active {
  color: var(--accent);
  box-shadow: 0 0 10px var(--light1);
}

.navLink {
  text-decoration: none;
  color: var(--light1);
}

/* When viewport width surpasses typical smartphone size */
@media only screen and (min-width: 650px) {
  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navBtn {
    font-size: 2vw;
  }
  .nameText {
    text-align: left;
  }
}
