@import "../../utils/colors.css";

.headerNav {
  padding: 1rem;
  margin: 0 6rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nameText {
  text-align: center;
  color: var(--light1);
  font-family: "Petit Formal Script";
  text-shadow: 5px 0 var(--accent);
  font-size: 4rem;
  width: 90vw;
}

.navBar {
  width: 100%;
  margin-left: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navBtn {
  border-radius: 30px;
  border: solid 2px var(--accent);
  box-shadow: 0 0 10px var(--accent);
  width: 80vw;
  background: var(--dark3);
  color: var(--light1);
  font-size: 5vw;
  margin: 1rem;
}

.navBtn:hover,
.navBtn:focus,
.navBtn:active {
  color: var(--accent);
  box-shadow: 0 0 10px var(--light1);
}

.navLink {
  text-decoration: none;
  color: var(--light1);
}

/* When viewport width surpasses typical smartphone size */
@media only screen and (min-width: 650px) {
  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navBar {
    flex-wrap: nowrap;
  }

  .navBtn {
    font-size: 2vw;
    width: 12vw;
  }
  .nameText {
    text-align: left;
  }
}
