@import "../../utils/colors.css";

.gallery {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 60vh; */
  width: 100vw;
  margin-top: 12vh;
  margin: 2vw;
}

.galleryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  max-width: 15%;
  margin: 8px;
  font-size: 2rem;
  border: transparent;
}

.galleryBtn i {
  color: var(--light1);
}

.galleryBtn i:hover,
.galleryBtn i:focus {
  color: var(--dark3);
  text-shadow: 0 0 10px var(--med1), 0 0 15px var(--med1), 0 0 30px;
}

.projectCard {
  background-color: var(--dark3);
  max-width: 50%;
  border-radius: 15px;
  margin: 1rem;
}

.imageDiv {
  width: auto;
  height: 60%;
}

.projectImg {
  border-radius: 15px 15px 0 0;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.cardTextDiv {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Petit Formal Script";
  color: var(--success);
  font-size: 3vw;
}

.projectDescription {
  color: var(--light1);
  font-size: 1.5vw;
  width: 80%;
  align-self: center;
}

.linkDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.projectLinks {
  text-decoration: "none";
  color: var(--med2);
  font-size: 1.6rem;
}
.projectLinks:hover {
  text-decoration: none;
  color: var(--accent);
}

@media only screen and (max-width: 600px) {
  .gallery {
    flex-direction: column;
  }
  .projectCard {
    max-width: 90%;
  }
  .title {
    font-size: 7vw;
  }
  .projectDescription {
    font-size: 3vw;
  }
  .projectLinks {
    font-size: 2vw;
  }
}
